@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://db.onlinewebfonts.com/c/bb99de1682ee75602d351c1dde11a054?family=TAN+-+PEARL');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-Outfit: "Outfit", serif;
    --font-Tan:  "TAN - PEARL", serif; 
    --font-Lexend: "Lexend Giga", sans-serif;
    --color-primario: #C4F2F2;
    --color-letra: #0F97A6;
    --color-hover: #2A8C82;
}